<div class="w-screen h-screen flex flex-column pb-4">
  <div *ngIf="errorMessage" class="card">
    <p-messages 
        [(value)]="errorMessage" 
        [enableService]="false" 
        [closable]="false" />
  </div>
  <div
    class="flex flex-grow-1 justify-content-center align-items-center"
    *ngIf="authService.isLoading"
  >
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div *ngIf="!authService.isLoading" class="w-full flex justify-content-end">
    <div class="flex justify-content-center align-items-center mr-5 mt-5 gap-6">
      <span>Not a Join user?</span>
      <p-button type="button" [raised]="true" routerLink="/signup" class="custom-button">Sign Up</p-button>
    </div>
  </div>
  <div *ngIf="!authService.isLoading" class="flex flex-grow-1 justify-content-center align-items-center pt-4">
    <div
      class="flex flex-column gap-5 shadow-4 border-round-3xl flex-grow-1 max-w-30rem pt-3 pb-5 px-4"
    >
      <div class="flex justify-content-center align-items-center">
        <span class="text-6xl font-medium">Login</span>
      </div>
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-5 px-6">
        <p-iconField iconPosition="right" class="p-fluid">
          <p-floatLabel>
            <p-inputIcon styleClass="pi pi-envelope" />
            <input
              type="email"
              pInputText
              formControlName="username"
              id="username"
            />
            <label for="username">E-mail</label>
          </p-floatLabel>
        </p-iconField>
        <p-floatLabel class="p-fluid">
          <p-password
            [feedback]="false"
            [toggleMask]="true"
            inputId="password"
            formControlName="password"
          ></p-password>
          <label for="password">Password</label>
        </p-floatLabel>
        <div class="flex align-items-center justify-content-between">
          <div class="flex align-items-center gap-2">
            <p-checkbox [binary]="true" inputId="binary" />
            <span>Remember Me</span>
          </div>
          <span>I forgot my password</span>
        </div>
        <div class="flex justify-content-around align-items-center">
          <p-button
            [disabled]="!authForm.valid"
            type="submit"
            [raised]="true"
          >
            Login
          </p-button>
          <p-button
            [raised]="true"
            [outlined]="true"
            (onClick)="onGuestLogin()"
            type="button"
            routerLink="/summary"
            >GuestLogin</p-button
          >
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="!authService.isLoading" class="w-screen flex justify-content-center mb-6 pb-4">
    <div class="flex gap-6">
      <span>Legal Notice</span>
      <span>Privacy Policy</span>
    </div>
  </div>
</div>
