<div class="fixed top-0 shadow-2 bottom-0 bg-blue-900 w-11rem z-3 flex flex-column justify-content-between py-2">
    <img src="" alt="">
    <div class="flex flex-column align-items-center gap-2">
        <a class="custom-links">Summary</a>
        <a class="custom-links">Add Task</a>
        <a class="custom-links">Board</a>
        <a class="custom-links">Contacts</a>
    </div>
    <div class="flex flex-column align-items-center">
        <p-button label="Legal Notice" [link]="true" [style]="{ color: 'white', fontSize: '12px'}"/>
        <p-button label="Privacy Policy" [link]="true" [style]="{ color: 'white', fontSize: '12px'}"/>
    </div>
</div>
