<div
  class="shadow-2 bg-blue-900 flex flex-column justify-content-between h-full py-4"
>
  <div class="card flex justify-content-center gap-2">
    <p-menu [model]="items" styleClass="border-none bg-blue-900">
      <ng-template pTemplate="item" let-item>
        <ng-container>
          <a
            routerLinkActive="p-menuitem-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="item.route"
            class="p-menuitem-link justify-content-center"
          >
            <span class="text-white">{{ item.label }}</span>
          </a>
        </ng-container>
      </ng-template>
    </p-menu>
  </div>
  <div class="flex flex-column align-items-center">
    <p-button
      label="Legal Notice"
      [link]="true"
      [style]="{ color: 'white', fontSize: '12px' }"
    />
    <p-button
      label="Privacy Policy"
      [link]="true"
      [style]="{ color: 'white', fontSize: '12px' }"
    />
  </div>
</div>
