.custom-links {
    font-size: 16px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    padding: 6px 0;
}

.custom-links:hover {
    background-color: #142a4d;
}
