:host ::ng-deep {
    [pDraggable] {
        cursor: pointer;
    }
}

.board-column {
    min-height: 50vh !important;
}

.pBar-width {
    width: 144px;
}

.task-title {
    word-break: break-all;
}

