h1 {
    font-size: 48px;
}

textarea {
    resize: none;
}

small {
    color: #e24c4c;
    text-align: center;
}

.separator {
    width: 1px;
    background: grey;
}

form {
    max-width: 800px;
}


