@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

body {
  margin: 0;
}

.frame {
  padding-top: 112px;
}

h1 {
  font-size: 48px;
  margin-top: 0;
}

.custom-button .p-button {
  background: red;
  border: 1px solid red;
}

.custom-button .p-button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px red, 0 1px 2px 0 black;
}

.custom-button .p-button:not(:disabled):hover {
  background: rgb(176, 0, 0);
  border-color: rgb(176, 0, 0);
}

// ____________________________________  sidebar  ___________________________________________

.p-sidebar .p-sidebar-content {
  padding: 0 !important;
}
.p-sidebar .p-sidebar-header {
  background: var(--bluegray-500);
}
.p-menu {
  background: rgba(255, 255, 255, 0);
}

// -------------- link menu -----------------------------

.p-submenu-header {
  display: none;
}

// .p-menu ul {
//     display: flex;
//     flex-direction: column;
//     gap: 8px;
// }

.p-menuitem-text {
  color: white !important;
}

.p-menu
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content {
  background: #142a4d !important;
}

.p-menuitem-content:hover {
  background: #142a4d !important;
}

// ------------------------------------------------------

// __________________________________________________________________________________________

// ___________________________________  addTask  ____________________________________________

// -------------  priority buttons ------------------

div[aria-labelledby="Low"].p-ripple.p-element.p-button.p-component.p-highlight {
  background-color: #7ae229 !important;
  border-color: #7ae229 !important;
}

div[aria-labelledby="Medium"].p-ripple.p-element.p-button.p-component.p-highlight {
  background-color: #ffa800 !important;
  border-color: #ffa800 !important;
}

div[aria-labelledby="Urgent"].p-ripple.p-element.p-button.p-component.p-highlight {
  background-color: #ff3d00 !important;
  border-color: #ff3d00 !important;
}
// --------------------------------------------------

.p-chips .p-chips-multiple-container {
  max-width: 291px !important;
  width: 100%;
}
.p-chips {
  width: 100%;
}


// ________________________________  board __________________________________________________________


//----------------------- dialog task-detail -------------------------------------------------------

#dialogBoard .p-dialog-content::-webkit-scrollbar {
  display: none;
}
.p-component-overlay {
  z-index: 1090 !important;
}

//___________________________________________________________________________________________________
